
<!doctype html>
<html lang="ru" layout:decorate="~{layout}">
<head>
    <title>Авторизация</title>
</head>
<body>
<h1 layout:fragment="h1"> Список собщений</h1>
<div layout:fragment="content">
    <table th:if="${messages.size() > 0}" class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Текст</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="message, iter : ${messages}">
            <td scope="row" th:text="${message.getMessageId()}"></td>
            <td th:text="${message.getText()}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>